.permissions-connect-header {
  display: flex;
  flex: 0;
  flex-direction: column;
  justify-content: center;
  width: 92%;
  font-family: dm sans,sans-serif;

  &__icon {
    display: flex;
    flex-direction: column;
    align-items: center;

    .icon-with-fallback__identicon-container,
    .icon-with-fallback__identicon-border {
      height: 64px;
      width: 64px;
    }

    .icon-with-fallback__identicon-border {
      border: 1px solid $Grey-100;
    }

    .icon-with-fallback__identicon-container {
      margin-bottom: 8px;
    }
  }

  &__title {
    @extend %header--24;

    text-align: center;
    color: #021b14;
    margin-top: 14px;
    font-family: dm sans,sans-serif;
  }

  &__text,
  &__subtitle {
    @extend %content-text;

    text-align: center;
    color: $Grey-500;
    font-family: dm sans,sans-serif;
  }

  &__text {
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;

    /*rtl:ignore*/
    direction: rtl;
  }

  &__subtitle {
    margin-top: 4px;
  }
}
