@import 'welcome/index';
@import 'select-action/index';
@import 'seed-phrase/index';
@import 'end-of-flow/index';
@import 'metametrics-opt-in/index';


.first-time-flow {
  width: 100%;
  background-color: $white;
  background-color: #f7fff3;
  display: flex;
  justify-content: center;
  font-family: 'DM Sans', sans-serif;

  &__wrapper {
    @media screen and (min-width: $break-large) {
      max-width: 742px;
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-top: 2%;
    }

    .app-header__metafox-logo {
      margin-bottom: 80px;

      @media screen and (max-width: $break-small) {
        margin-bottom: 0;
      }
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    font-family: 'DM Sans', sans-serif;
  }

  &__create-back {
    margin-bottom: 16px;
  }

  &__header {
    font-size: 2rem;
    margin-bottom: 25px;
    margin-top: 15px;
    color: #021b14;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
  }

  &__subheader {
    margin-bottom: 16px;
  }

  &__input {
    max-width: 350px;
  }

  &__textarea-wrapper {
    margin-bottom: 8px;
    display: inline-flex;
    padding: 0;
    position: relative;
    min-width: 0;
    flex-direction: column;
    max-width: 350px;
  }

  &__textarea-label {
    margin-bottom: 9px;
    color: #1b344d;
    font-size: 18px;
  }

  &__textarea {
    /*rtl:ignore*/
    direction: ltr;
    font-size: 1rem;
    border: 1px solid #cdcdcd;
    border-radius: 0px;
    background-color: #fff;
    padding: 16px;
    margin-top: 8px;
  }

  &__seedphrase {
    margin-top: 9px !important;
  }

  &__breadcrumbs {
    margin: 36px 0;
  }

  &__unique-image {
    margin-bottom: 20px;
  }

  &__markdown {
    border: 1px solid #979797;
    border-radius: 8px;
    background-color: $white;
    height: 200px;
    overflow-y: auto;
    color: #757575;
    font-size: 0.75rem;
    line-height: 15px;
    text-align: justify;
    margin: 0;
    padding: 16px 20px;
    height: 30vh;
  }

  &__text-block {
    margin-bottom: 24px;
    color: #021b14;
    font-family: 'DM Sans', sans-serif;

    @media screen and (max-width: $break-small) {
      margin-bottom: 16px;
      font-size: 0.875rem;
    }
  }

  &__button {
    margin: 35px 0 14px;
    width: 170px;
    height: 45px;
    background: #ffdda9;
    border-color: #ffdda9;
    color: #021b14;
  }

  &__checkbox-container {
    display: flex;
    align-items: center;
    margin-top: 24px;
  }

  &__checkbox {
    background: #fff;
    border: 1px solid #cdcdcd;
    box-sizing: border-box;
    height: 34px;
    width: 34px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      border: 1.5px solid #249577;
    }

    .fa-check {
      color: #249577;
    }
  }

  &__checkbox-label {
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 18px;
    color: #939090;
    margin-left: 18px;
  }

  &__link-text {
    color: $primary-blue;
  }
}
