.welcome-page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-width: 600px;
  padding: 0 18px;
  color: black;
  font-family: dm sans,sans-serif;

  &__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
  }

  &__header {
    font-size: 50px;
    margin-top: 240px;
    text-align: center;
    color: #021b14;
    line-height: 60px;
    font-weight: 700;
    margin-bottom: 30px;
  }

  &__description {
    text-align: center;

    div {
      font-size: 17px;
      padding-bottom: 15px;
    }

    @media screen and (max-width: 575px) {
      font-size: 0.9rem;
    }
  }

  .first-time-flow__button {
    width: 185px;
    font-weight: 500;
    margin-top: 20px;
    height: 45px;
    background: #ffdda9;
    border-color: #ffdda9;
    color: #021b14;
  }

  .first-time-flow__button:hover {
    background: #facb85;
    border-color: #facb85;
  }

}
